.Button {
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 100px;
  padding: 9px 17px;
  border-color: white;
  color: white;
  display: inline-block;
  line-height: 1rem;

  &:hover{
    color: white;
    text-decoration: none;
  }
}
