.project {
  background-color: white;
  min-height: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  font-weight: 400;

  :global(.dark) & {
    background-color: #000;
  }

  .text {
    flex: 1 auto;
    padding: 27px;
    font-size: 16px;
  }

  .image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;

    :global(.dark) & {
      background-color: #121217;
    }

  }
}
