<div class="row about flex-column-reverse flex-sm-row">
    <div class="col-12 col-sm-4 pr-sm-0">
        <div class="card d-none d-sm-block">
            <div class="card-body">
                <div class="avatar mb-3">
                </div>
                <button class="btn btn-light w-100">{{'Web developer' | translate}}</button>
            </div>
        </div>
        <div class="card pointer">
            <div class="card-body">
                <div class="mb-2">
                    <span>{{'Skills' | translate}} </span><span class="text-black-50">{{skills.length}}</span>
                </div>
                <div class="row m-0">
                    <div class="col-4 p-0 circle-badge mb-2" ng-repeat="skill in skills">
                        <div class="img"
                             ng-style="{backgroundColor: skill.color, backgroundImage:'url('+skill.logo+')'}">
                        </div>
                        <div>
                            <a target="_blank" ng-if="skill.cert" href="{{skill.cert.url}}">{{skill.name}}</a>
                            <span ng-if="!skill.cert">{{skill.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-8">
        <div class="card f13">
            <div class="card-body">
                <h4>{{'Mikhail Davlichin' | translate}}</h4>
                <label>{{'lets coding!' | translate}}</label>
                <hr/>
                <div class="row">
                    <div class="col-5"><label>{{'City' | translate}}:</label></div>
                    <div class="col-7 text-left"><a target="_blank" href="https://goo.gl/maps/Zpry3oAkM9T2">{{'Moscow' |
                        translate}}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5"><label>{{'Specialization' | translate}}:</label></div>
                    <div class="col-7 text-left">{{'Web developer' | translate}}, Frontend</div>
                </div>
                <div class="row">
                    <div class="col-5"><label>{{'Education' | translate}}:</label></div>
                    <div class="col-7 text-left">{{'Bachelor\'s degree' | translate}} / {{'Information Systems and Technologies' | translate}}</div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row p-3">
                    <div class="col text-center">
                        <a class="link" title="github" href="https://github.com/Paktusin" rel="noopener"
                           target="_blank">GitHub</a>
                    </div>
                    <div class="col text-center">
                        <a class="link" title="email" href="mailto:paktusin@gmail.com">{{'Email' | translate}}</a>
                    </div>
                    <div class="col text-center">
                        <a class="link" title="telegram" target="_blank" href="https://t.me/paktusin">{{'Telegram' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card f13">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div>
                        <img src="apple-touch-icon.png" class="img-fluid rounded-circle mr-3" width="50" height="50"/>
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                        <span class="text-primary font-weight-bold">{{'Mikhail Davlichin' | translate}}</span>
                        <span class="text-black-50">{{postTime}}</span>
                    </div>
                </div>
                <div class="p-3 text-center">
                    <img class="img-fluid" ng-src="{{randomGif}}">
                </div>
                <h5 class="border-bottom">{{'Development experience' | translate}}:</h5>
                <p id="devExp">{{dev_time}}</p>
                <h5 class="border-bottom">{{'All IT experience' | translate}}:</h5>
                <p id="allExp">{{it_time}}</p>

                <div class="">
                    <div class="like-btn">
                        <button ng-click="toggleLike()" class="btn btn-link pr-1"
                                ng-class="like==1?'text-danger':''">
                            <i class="fa fa-2x" ng-class="like==1?'like fa-heart':' fa-heart-o'"></i>
                        </button>
                        <span ng-if="like">1</span>
                    </div>
                    <div class="like-btn">
                        <button class="btn btn-link" ng-click="comment()">
                            <i class="fa fa-2x fa-comment-o "></i>
                        </button>
                    </div>
                    <div class="like-btn">
                        <button class="btn btn-link position-relative" ng-click="copyLink()">
                            <i class="fa fa-2x fa-share" title="copy to clipboard"></i>
                        </button>
                    </div>
                </div>

            </div>
            <div class="card-footer pr-0">
                <comments-cmp></comments-cmp>
            </div>
        </div>
    </div>
</div>