.ThemeButton {
  font-size: 13px;
  cursor: pointer;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -.01em;
  border-radius: 12px;
  padding: 3px 11px;
  background-color:#0071e3;
  border: none;
  color: #fff;

  &:hover {
    background-color: #147ce5;
  }

  &:active {
    background-color: #0068d1;
  }
}
