<div class="row about">
    <div class="col-4 pl-0">
        <div class="card">
            <div class="card-body">
                <div class="avatar mb-3">
                </div>
                <button class="btn btn-light w-100">Web Developer</button>
            </div>
        </div>
        <div class="card pointer">
            <div class="card-body">
                <div class="mb-2">
                    <span>Skills </span><span class="text-black-50">{{skills.length}}</span>
                </div>
                <div class="row m-0">
                    <div class="col-4 p-0 circle-badge" ng-repeat="skill in skills">
                        <div class="img" ng-style="{backgroundImage: 'url('+skill.logo+')'}"></div>
                        <div>
                            <a target="_blank" ng-if="skill.cert" href="{{skill.cert.url}}">{{skill.name}}</a>
                            <span ng-if="!skill.cert">{{skill.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8 p-0">
        <div class="card f13">
            <div class="card-body">
                <h4>Mikhail Davlichin</h4>
                <label>let's coding!</label>
                <hr/>
                <div class="row">
                    <div class="col-5"><label>City:</label></div>
                    <div class="col-7 text-left"><a target="_blank" href="https://goo.gl/maps/Zpry3oAkM9T2">Sochi</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5"><label>Specialization:</label></div>
                    <div class="col-7 text-left">Web Development, Frontend</div>
                </div>
                <div class="row">
                    <div class="col-5"><label>Education:</label></div>
                    <div class="col-7 text-left">Bachelor's degree / Information Systems and Technoligies</div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row p-3">
                    <div class="col text-center">
                        <a class="link" title="github" href="https://github.com/Paktusin" rel="noopener"
                           target="_blank">GitHub</a>
                    </div>
                    <div class="col text-center">
                        <a class="link" title="email" href="mailto:paktusin@gmail.com">Mail</a>
                    </div>
                    <div class="col text-center">
                        <a class="link" title="telegram" target="_blank" href="https://t.me/paktusin">Telegram</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card f13">
            <div class="card-body">
                <div class="p-3">
                    <img class="img-fluid" ng-src="{{kermit}}">
                </div>
                <h3 class="border-bottom">Development experience:</h3>
                <p id="devExp">{{dev_time}}</p>
                <h3 class="border-bottom">All IT experience:</h3>
                <p id="allExp">{{it_time}}</p>
            </div>
        </div>
    </div>
</div>