<div class="card">
    <div class="card-body">
        <h4 class="text-center">Education</h4>
        <div class="col-12 col-sm-6 col-md-4 mb-3 float-left">
            <img alt="Institute photo" class="img-fluid image " src="https://i.imgur.com/Hje3bfj.jpg">
        </div>
        <p>Graduate from <a href="https://goo.gl/maps/5kQcUt6qFL82" rel="noopener" target="_blank">Birobidjan State
            Pedagogical
            Institute</a>, faculty of Mathematics and
            Informatics, specialty Information Systems and Technologies , engineer's degree</p>
        <p>At the institute, I studied the creation of information systems. Development of web applications and desktop
            applications. Basically the development was on Delphi. The graduation project was developed in Java. It was
            a
            cross-platform Java application for a computer store to account for computer sales.</p>
        <p>I started my career as a sysadmin. Then I got a web developer. And I began to study the methods of developing
            web
            applications in more detail. Most of all like to develop the front end of web sites.</p>
        <p>
            In my spare time I study technology front-end development such as React, Angular.
        </p>
        <h5 class="border-bottom mb-3">Certificates</h5>
        <div class="row">
            <div ng-repeat="cert in certs" class="col-12 col-sm-6 col-md-4 mb-3 text-center">
                <a title="{{cert.title}}" href="{{cert.url}}" rel="noopener"
                   target="_blank">
                    <img alt="{{cert.title}} cert" class="image img-fluid" ng-src="{{cert.img}}">
                </a>
            </div>
        </div>
    </div>
</div>
