<div class="card">
    <div class="card-body">
        <h4 class="text-center">Projects</h4>
        <h5 class="border-bottom mb-3">Demo projects for training <a href="/#!/skills">skills</a></h5>
        <p>
        <a rel="noopener" target="_blank" href="/carcat">Car Catalog (React)</a><br/>
        <a rel="noopener" target="_blank" href="/tomato">Rotten Tomatoes DVD (React)</a><br/>
        <a rel="noopener" target="_blank" href="/drink_academy">Drink Academy (Vue)</a><br/>
        </p>
        <h5 class="border-bottom mb-3">External projects</h5>
        <p>
            <a href="https://zapiskihomyaka.ru/" target="_blank">https://zapiskihomyaka.ru/</a>
        </p>
        <h5 class="border-bottom mb-3">Svod International internal web apps</h5>
        <img align="Svod International logo" class="col-6 float-left" src="https://i.imgur.com/YnTWz3o.png">
        <p>The first was developed for the document turnover of equipment at the enterprise. Generation in .docx
            reports and goods receipt documents, write-offs, diagnostic cards, maintenance schedule. The program
            worked with a large base of the nomenclature. (ASP.NET + JQ + Metro UI)</p>
        <p>The second application is the accounting of workers' working hours. Calculation of wages, holidays.
            Generating the time sheet. (ASP.NET + JQ + Boostrap)
        </p>
        <h5 class="border-bottom mb-3">Center for gifted education "SIRIUS" internal web apps</h5>
        <img alt="Sirius logo" class="col-4  float-left py-3" src="https://i.imgur.com/HjZPPOn.png">
        <p>
            BBB Statistic Application. The application for gathering attendance statistics and viewing
            conferences in BigBluetButton. Application also work with BBB api. Can create conferences and send
            invitations.
            (Rails + Materialize + MySQL)
        </p>
        <p>
            Scheduler Application. Application for create meetings and booking rooms. Planning trips for
            children. Generate reports for bus drivers that show where groups of children go. Synchronize users
            and booking with Exchange Server. Notifies teachers and users about classes. (FullCalendar +
            AngularJS + Angular 7 + Symfony + ews exchange)
        </p>
        <p>
            Web Site for registration of children for grants of the president <a rel="noopener" target="_blank"
                                                                                 href="https://presidentgrants.ru">https://presidentgrants.ru</a>
        </p>
        <p>
            Support and finalization of the functionality of the existing projects:<br/>
            <a rel="noopener" target="_blank" href="https://sochisirius.ru">https://sochisirius.ru</a><br/>
            <a rel="noopener" target="_blank"
               href="https://canvas.talantiuspeh.ru">https://canvas.talantiuspeh.ru</a><br/>
        </p>
    </div>
</div>