<h3 class="text-center">Education</h3>
<div class="col-12 col-sm-6 col-md-4 mb-3 float-left">
    <img class="img-fluid image " src="https://i.imgur.com/Hje3bfj.jpg">
</div>
<p>Graduate from <a href="https://goo.gl/maps/5kQcUt6qFL82" target="_blank">Birobidjan State Pedagogical
    Institute</a>, faculty of Mathematics and
    Informatics, specialty Information Systems and Technologies , engineer's degree</p>
<p>At the institute, I studied the creation of information systems. Development of web applications and desktop
    applications. Basically the development was on Delphi. The graduation project was developed in Java. It was a
    cross-platform Java application for a computer store to account for computer sales.</p>
<p>I started my career as a sysadmin. Then I got a web developer. And I began to study the methods of developing web
    applications in more detail. Most of all like to develop the front end of web sites.</p>
<p>
    In my spare time I study technology front-end development such as React, Angular.
</p>
<h4 class="border-bottom mb-3">Certificates</h4>
<div class="row">
    <div class="col-12 col-sm-6 col-md-4 mb-3">
        <a title="geekbrains" href="https://geekbrains.ru/certificates/459861.en" target="_blank">
            <img class="image img-fluid" src="https://i.imgur.com/xLyri03.png?1">
        </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 mb-3">
        <a title="tests4geeks"  href="https://tests4geeks.com/certificate?cr=pg8h1p8" target="_blank">
            <img class="image img-fluid" src="https://imgur.com/sikfg7g.jpg">
        </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 mb-3">
        <a title="skillvalue"  href="https://skillvalue.com/en/certificate/8i1BSO3visi2RLcddREW2IKYsUxkLryuP507vGQLmtgyHchRJ4eZQ0OEiY9f" target="_blank">
            <img class="image img-fluid" src="https://imgur.com/9bcfVH8.jpg">
        </a>
    </div>
</div>
