<h3 class="text-center">Projects</h3>
<h4>Svod International internal web apps</h4>
<img class="col-6 float-left" src="https://i.imgur.com/YnTWz3o.png">
<p>The first was developed for the document turnover of equipment at the enterprise. Generation in .docx
    reports and goods receipt documents, write-offs, diagnostic cards, maintenance schedule. The program
    worked with a large base of the nomenclature. (ASP.NET + JQ + Metro UI)</p>
<p>The second application is the accounting of workers' working hours. Calculation of wages, holidays.
    Generating the time sheet. (ASP.NET + JQ + Boostrap)
</p>
<h4>Center for gifted education "SIRIUS" internal web apps</h4>
<img class="col-4  float-left py-3" src="https://i.imgur.com/HjZPPOn.png">
<p>
    BBB Statistic Application. The application for gathering attendance statistics and viewing
    conferences in BigBluetButton. Application also work with BBB api. Can create conferences and send
    invitations.
    (Rails + Materialize + MySQL)
</p>
<p>
    Scheduler Application. Application for create meetings and booking rooms. Planning trips for
    children. Generate reports for bus drivers that show where groups of children go. Synchronize users
    and booking with Exchange Server. Notifies teachers and users about classes. (FullCalendar +
    AngularJS + Symfony + ews exchange)
</p>
<p>
    Web Site fot registration of children for grants of the president <a target="_blank"
                                                                         href="https://presidentgrants.ru">https://presidentgrants.ru</a>
</p>
<p>
    Support and finalization of the functionality of the existing projects:<br>
    <a target="_blank" href="https://sochisirius.ru">https://sochisirius.ru</a><br>
    <a target="_blank" href="https://canvas.talantiuspeh.ru">https://canvas.talantiuspeh.ru</a><br>
</p>
<h4>My Site for training <a href="#skills">skills</a></h4>
<a target="_blank" href="/carcat">Car Catalog (React)</a><br>
<a target="_blank" href="/tomato">Rotten Tomatoes DVD (React)</a><br>