<div class="card">
    <div class="card-body">
        <h4 class="text-center">{{'Projects' | translate}}</h4>
        <div class="mb-5" ng-repeat="project in projects">
            <h5 class="border-bottom mb-3">
                <a ng-if="project.url" href="{{project.url}}" target="_blank">{{project.title}}</a>
                <span ng-if="!project.url">{{project.title}}</span>
            </h5>
<!--            <img ng-if="project.logo" style="width: 200px" align="{{project.title}} logo" class="col-6 float-left"-->
<!--                 src="{{project.logo}}">-->
            <p>{{project.descr}}</p>
        </div>
    </div>
</div>


