.NavBar {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .container {
    font-size: 13px;
    color: #fff;
    align-content: center;
    padding: .75rem;
    display: inline-flex;
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    justify-content: space-between;
  }
}