$neon-color: #4fc8ff;


.neon.on {
  color: #fff;
  -webkit-animation: neon 1.5s ease-in-out infinite alternate;
  -moz-animation: neon 1.5s ease-in-out infinite alternate;
  animation: neon 1.5s ease-in-out infinite alternate;
}

.neon.broke {
  animation: letter-flicker 2s linear infinite;
  color: #{$neon-color};
}

.neon {
  text-shadow: 1px 1px 5px #222;
  color: #{$neon-color};
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #{$neon-color}, 0 0 70px #{$neon-color}, 0 0 80px #{$neon-color}, 0 0 100px #{$neon-color}, 0 0 150px #{$neon-color};
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #{$neon-color}, 0 0 35px #{$neon-color}, 0 0 40px #{$neon-color}, 0 0 50px #{$neon-color}, 0 0 75px #{$neon-color};
  }
}

@-moz-keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #{$neon-color}, 0 0 70px #{$neon-color}, 0 0 80px #{$neon-color}, 0 0 100px #{$neon-color}, 0 0 150px #{$neon-color};
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #{$neon-color}, 0 0 35px #{$neon-color}, 0 0 40px #{$neon-color}, 0 0 50px #{$neon-color}, 0 0 75px #{$neon-color};
  }
}

@keyframes letter-flicker {
  0% {
    color: #{$neon-color};
    text-shadow: none;
  }
  2% {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #{$neon-color}, 0 0 70px #{$neon-color}, 0 0 80px #{$neon-color}, 0 0 100px #{$neon-color}, 0 0 150px #{$neon-color};
  }
  4% {
    color: #{$neon-color};
    text-shadow: none;
  }

  19% {
    color: #{$neon-color};
    text-shadow: none;
  }
  21% {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #{$neon-color}, 0 0 70px #{$neon-color}, 0 0 80px #{$neon-color}, 0 0 100px #{$neon-color}, 0 0 150px #{$neon-color};
  }
  25% {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #{$neon-color}, 0 0 70px #{$neon-color}, 0 0 80px #{$neon-color}, 0 0 100px #{$neon-color}, 0 0 150px #{$neon-color};
  }
  27% {
    color: #{$neon-color};
    text-shadow: none;
  }

  80% {
    color: #{$neon-color};
    text-shadow: none;
  }
  83% {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #{$neon-color}, 0 0 70px #{$neon-color}, 0 0 80px #{$neon-color}, 0 0 100px #{$neon-color}, 0 0 150px #{$neon-color};
  }
  84% {
    color: #{$neon-color};
    text-shadow: none;
  }
}