@import "~bootstrap/scss/bootstrap";
@import "neon";
@import "floor";
@import "var";

@font-face {
  font-family: 'Neon';
  src: url(../fonts/Clip.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'VHS';
  src: url(../fonts/vhs.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'Metal';
  src: url(../fonts/lowrbi.ttf) format("truetype");
  font-weight: normal;
}

body {
  font-family: 'vhs', serif;
  color: wheat;
  filter: blur(1px);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: -moz-linear-gradient(top, rgba(19, 23, 140, 1) 1%, rgba(242, 0, 255, 1) 35%, rgba(242, 0, 255, 1) 41%, rgba(57, 0, 68, 1) 44%, rgba(57, 0, 68, 1) 98%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(19, 23, 140, 1) 1%, rgba(242, 0, 255, 1) 35%, rgba(242, 0, 255, 1) 41%, rgba(57, 0, 68, 1) 44%, rgba(57, 0, 68, 1) 98%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(19, 23, 140, 1) 1%, rgba(242, 0, 255, 1) 35%, rgba(242, 0, 255, 1) 41%, rgba(57, 0, 68, 1) 44%, rgba(57, 0, 68, 1) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.social {
  .link {
    &:hover {
      text-decoration: none;
      img {
        transform: scale(1.1);
      }
    }
    img.icon {
      transition: all ease .2s;
      width: 64px;
    }
  }
}

#main {
  flex: 1 auto;
  z-index: 2;
}

#gained {
  &:before {
    z-index: 1;
  }
}

.neon {
  line-height: .5;
  font-family: 'Neon', serif;
  font-size: 5rem;
}

.vhs {
  padding: 0 2rem 0 2rem;
  z-index: 5;
  font-size: 2.5rem;
  font-family: 'VHS', serif;
  color: white;
}

.developer {
  font-family: 'Metal', serif;
  position: relative;
  $neon: $violet;
  $light: rgba($violet, .3);
  font-size: 5rem;
  color: #fff;
}

.icon {
  height: 64px;
  margin: .5rem;
  max-width: 100%;
}

.city {
  background-position: top center;
  background-size: contain;
  background-image: url(../img/city.svg);
  position: fixed;
  top: 19vh;
  height: 300px;
  width: 100%;
  color: #7E0788;
}

.glitch {
  opacity: .4;
  background-size: 100% 19440px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  background-image: url(../img/vcr.jpg);
}

.social {
  .c-white {
    background-color: white;
    border-radius: 50%;
  }
}

.name{
  font-family: 'Rock Salt', cursive;
  color: $red;
  text-shadow: 2px 2px 0 black;
}