@import "var";

$navbar-light-color: $red;
$navbar-light-active-color: lighten($red, 15%);
$navbar-light-hover-color: lighten($red, 30%);

$link-color: $red;
$link-hover-color: white;
$link-hover-decoration: none;

@import "~bootstrap/scss/bootstrap";
@import "neon";
@import "floor";

@font-face {
  font-family: 'Neon';
  src: url(../fonts/Clip.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'VHS';
  src: url(../fonts/vhs.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'Metal';
  src: url(../fonts/lowrbi.ttf) format("truetype");
  font-weight: normal;
}

body {
  font-family: 'vhs', serif;
  color: wheat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.blur {
  filter: blur(1px);
}

.bg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#13178c+1,610096+39,f200ff+43,ffffff+45,f200ff+46,f200ff+46,390044+49,390044+98 */
  background: rgb(19,23,140); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(19,23,140,1) 1%, rgba(97,0,150,1) 39%, rgba(242,0,255,1) 43%, rgba(255,255,255,1) 45%, rgba(242,0,255,1) 46%, rgba(242,0,255,1) 46%, rgba(57,0,68,1) 49%, rgba(57,0,68,1) 98%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(19,23,140,1) 1%,rgba(97,0,150,1) 39%,rgba(242,0,255,1) 43%,rgba(255,255,255,1) 45%,rgba(242,0,255,1) 46%,rgba(242,0,255,1) 46%,rgba(57,0,68,1) 49%,rgba(57,0,68,1) 98%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(19,23,140,1) 1%,rgba(97,0,150,1) 39%,rgba(242,0,255,1) 43%,rgba(255,255,255,1) 45%,rgba(242,0,255,1) 46%,rgba(242,0,255,1) 46%,rgba(57,0,68,1) 49%,rgba(57,0,68,1) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13178c', endColorstr='#390044',GradientType=0 ); /* IE6-9 */
}

.me {
  width: 150px;
  height: 150px;
  @include media-breakpoint-up(sm) {
    width: 200px;
    height: 200px;
  }
}

.social {
  .c-white {
    background-color: white;
    border-radius: 50%;
  }
  .link {
    &:hover {
      text-decoration: none;
      img {
        transform: scale(1.1);
      }
    }
    img.icon {
      transition: all ease .2s;
    }
  }
}

#main {
  flex: 1 auto;
  z-index: 2;
}

#gained {
  &:before {
    z-index: 1;
  }
}

.neon {
  line-height: .5;
  font-family: 'Neon', serif;
  font-size: 3rem;
  @include media-breakpoint-up(sm) {
    font-size: 5rem;
  }
}

.vhs {
  padding: 0 1rem 0 1rem;
  position: fixed;
  z-index: 5;
  font-size: 1rem;
  font-family: 'VHS', serif;
  color: white;
  @include media-breakpoint-up(sm) {
    font-size: 2rem;
    padding: 0 2rem 0 2rem;
  }
}

.developer {
  font-family: 'Metal', serif;
  position: relative;
  $neon: $violet;
  $light: rgba($violet, .3);
  font-size: 3rem;
  color: #fff;

  @include media-breakpoint-up(sm) {
    font-size: 5rem;
  }
}

.icon {
  height: 48px;
  width: 48px;
  margin: 0;
  @include media-breakpoint-up(sm) {
    margin: .5rem;
    height: 64px;
    width: 64px;
  }
}

.skills {
  .icon {
    width: auto;
  }
}

.city {
  width: 100%;
  position: fixed;
  top: 30vh;
  > div {
    color: #7E0788;
    background-image: url(../img/city.svg);
    background-position: top center;
    background-size: contain;
    width: 70%;
    height: 15vh;
  }
}

.glitch {
  opacity: .2;
  background-size: 100% 19440px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  background-image: url(../img/vcr.jpg);
}

.name {
  font-family: 'Rock Salt', cursive;
  color: $red;
  text-shadow: 2px 2px 0 black;
}

#mainNav {
  padding: 1rem .2rem;
  margin-left: -15px;
  margin-right: -15px;
  @extend .name;
  font-size: .7rem;
  @include media-breakpoint-up(sm) {
    font-size: 1rem;
  }
}

.image {
  border: .2rem solid white;
  transition: all ease-out .3s;
}

a:hover {
  .image {
    $shadow: 0 0 20px 0 red;
    box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
  }
}