@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$primary: #4a76a8;

@import "~bootstrap/scss/bootstrap";

body {
  background-color: #edeef0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 12.5px;
}

#mainNav {
  background-color: $primary;
  font-weight: bold;
  &.navbar {
    padding: 0.25rem 1rem;
  }
}


.icon {
  height: 48px;
  width: 48px;
  margin: 0;
  @include media-breakpoint-up(sm) {
    margin: .5rem;
    height: 64px;
    width: 64px;
  }
}