.Edu {
  height: 600px;
  width: 100%;
  position: relative;
  overflow: hidden;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    margin: 1rem;

    a {
      color: inherit;
    }

    h3 {
      margin: 0;
      font-size: 24px;
      line-height: 1.16667;
      font-weight: 200;

      b {
        font-weight: 800;
      }
    }

    h2 {
      font-size: 48px;
      line-height: 1.08365;
      font-weight: 600;
      max-width: 500px;
      margin: 0 auto;
    }

    p {
      margin-top: 1rem;
      color: white;
      font-size: 17px;
      line-height: 1.47059;
      font-weight: 400;
      letter-spacing: -.022em;
      font-family: "SF ProText", serif;
    }
  }

  .bg {
    background-position: center left;
    background-size: cover;
    top: 0;
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    filter: grayscale(1);
    transform: scale(1.02);
    transition: all ease .5s;
  }

  &:hover .bg {
    filter: grayscale(0);
    transform: scale(1);
  }
}
