@font-face {
  font-family: 'SF Display';
  font-weight: 100;
  src: url(../fonts/sf-pro-display_light.woff2);
}

@font-face {
  font-family: 'SF Display';
  font-weight: 400;
  src: url(../fonts/sf-pro-display_regular.woff2);
}


@font-face {
  font-family: 'SF Display';
  font-weight: 700;
  src: url(../fonts/sf-pro-display_semibold.woff);
}