@font-face {
  font-family: 'SF Display';
  font-weight: 100;
  src: url(https://www.apple.com/wss/fonts/SF-Pro-Display/v2/sf-pro-display_light.woff2);
}

@font-face {
  font-family: 'SF Display';
  font-weight: 400;
  src: url(https://www.apple.com/wss/fonts/SF-Pro-Display/v2/sf-pro-display_regular.woff2);
}


@font-face {
  font-family: 'SF Display';
  font-weight: 700;
  src: url(https://www.apple.com/wss/fonts/SF-Pro-Display/v2/sf-pro-display_semibold.woff2);
}