@import "font";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";

$container-max-widths: (
        sm: 720px,
        md: 720px,
        lg: 960px,
        xl: 1140px
);

@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "SF ProText", serif;
  font-weight: 400;
  font-size: 17px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1 auto;
  background-color: #fafafa;
  color: #000;

  &.dark {
    background-color: #121217;
    color: #fff;
  }
}

* {
  &:focus {
    outline: none;
  }

  box-sizing: border-box;
}

main {
  margin: 0 auto;
  padding-bottom: 50px;
}

a {
  color: #0070c9;
  text-decoration: none;

  & :hover {
    text-decoration: underline;
  }
}