.Skills {
  font-weight: 400;

  .SkillContainer {
    flex: 1 0 auto;
    height: auto;
    display: flex;

    &:before {
      content: '';
      float: left;
      padding-top: 100%;
    }

    .Skill {
      display: flex;
      flex: 1 0 auto;
      background-repeat: no-repeat;
      background-position: center calc(100% - 2rem);
      background-size: 40%;
      justify-content: center;
      p, a {
        color: inherit;
      }
    }
  }
}