<nav ng-if="!$ctrl.side" id="mainNav" class="navbar navbar-expand navbar-dark bg-primary">
    <div class="nav collapse navbar-collapse container">
        <div class="navbar-brand logo" title="Yes I can draw!">
        </div>
        <div class="mex-auto">
            <search-component></search-component>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref="about" ui-sref-active="active">About me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="education" ui-sref-active="active">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="projects" ui-sref-active="active">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="skills" ui-sref-active="active">Skills</a>
            </li>
        </ul>
    </div>
</nav>

<div ng-if="$ctrl.side" class="btn-group-vertical side-menu">
    <a class="btn btn-sm btn-link" ui-sref="about">
        <i class="fa fa-lg fa-home" aria-hidden="true"></i>
        About me</a>
    <a class="btn btn-sm btn-link" ui-sref="education">
        <i class="fa fa-lg fa-graduation-cap" aria-hidden="true"></i>
        Education</a>
    <a class="btn btn-sm btn-link" ui-sref="projects">
        <i class="fa fa-lg fa-archive" aria-hidden="true"></i>
        Projects</a>
    <a class="btn btn-sm btn-link" ui-sref="skills">
        <i class="fa fa-lg fa-hand-spock-o" aria-hidden="true"></i>
        Skills</a>
</div>