<nav id="mainNav" class="navbar navbar-expand navbar-dark">
    <div class="nav collapse navbar-collapse container">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" ui-sref="about" ui-sref-active="active">About me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="education" ui-sref-active="active">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="projects" ui-sref-active="active">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="skills" ui-sref-active="active">Skills</a>
            </li>
        </ul>
    </div>
</nav>