.AppBar {
  position: sticky;
  top: 0;
  display: flex;
  transition: background-color .5s ease;
  z-index: 5;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0);

  :global(.dark) & {
    background-color: rgba(34, 34, 34, 0);
    border-bottom: 1px solid rgba(51, 51, 51, 0.9);
  }


  .content {
    display: inline-flex;
    padding: 1rem 0;
  }

  h3 {
    font-family: "SF Display", serif;
    font-size: 1.3rem;
    margin: 0;
    flex: 1 auto;
  }

  .links {
    align-items: center;
    font-size: 12px;
    opacity: 0;
    flex: 1 auto;
    display: inline-flex;
    justify-content: space-evenly;

    &.show {
      opacity: 1;
      transition: .5s ease opacity;
    }
  }

  &.stick {
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom-color: rgba(51, 51, 51, 0.1);
    width: 100%;
    backdrop-filter: saturate(180%) blur(15px);

    :global(.dark) & {
      border-bottom-color: rgba(51, 51, 51, 0.75);
      background-color: rgba(34, 34, 34, 0.7);
    }
  }
}