$backgroundColorLight: #fff;
$backgroundColorDark: #000;

@import "font";

.Apple {
  font-family: "SF ProText", serif;
  font-weight: 400;
  font-size: 17px;
  flex: 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $backgroundColorLight;

  .container {
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1390px!important;
  }

  * {
    &:focus {
      outline: none;
    }
  }

  main {
    padding-bottom: 50px;
  }

  a {
    color: #0070c9;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &.dark {
    background-color: $backgroundColorDark;
    color: #fff;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #fff;
    }

    p {
      color: #fff;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    color: #111;
  }

  p {
    color: #333;
  }
}
